extends admin

block content
  .w3-row-padding
    .w3-container.w3-center
      // <img src="7.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      .w3-container.w3-white
        p Location : #{output1.loc}
        p Departure Date : #{output1.dep_date}
        p Arrival Date : #{output1.arrival_date}
        p Cost : #{output1.Cost} Rs
        p Routes : #{output1.ROUTE}
        p Seats : #{output1.seats}
        p Stay Points : #{output1.stay_points}
        p Details : #{output1.details}

    script.
      // Script to open and close sidebar
      function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("myOverlay").style.display = "block";
      }
      function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("myOverlay").style.display = "none";
      }
    // ===============================================================================================
    script(src='/admin/vendor/jquery/jquery-3.2.1.min.js')
    script(type='text/javascript').
      $(function () {
        $("#del").click(function (e) {
          if (confirm("Are you sure u want to delete?")) {
            console.log('Form is submitting');
            $("#sampleform").submit();
          } else {
            console.log('User clicked no.');
          }
        });
      });
    // ===============================================================================================
    script(src='/admin/vendor/bootstrap/js/popper.js')
    script(src='/admin/vendor/bootstrap/js/bootstrap.min.js')
    // ===============================================================================================
    script(src='/admin/vendor/select2/select2.min.js')
    // ===============================================================================================
    script(src='/admin/js/main.js')
